<div id="{{ attributes.id }}" class="carousel slide" data-ride="carousel">
  {% if behavior.indicator %}
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for key, value in content.items %}
        <li data-target="#{{ attributes.id }}"
            data-slide-to="{{ key }}"{% if loop.first %} class="active"{% endif %}></li>
      {% endfor %}
    </ol>
  {% endif %}

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for value in content.items %}
      <div class="carousel-item{% if loop.first %} active{% endif %}">
        {{ value.slide }}
        {% if behavior.caption %}
          <div class="carousel-caption">
            {% if value.slide['#paragraph'].field_pcb_carousel_caption %}
              {{ value.slide['#paragraph'].field_pcb_carousel_caption.value }}
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% if behavior.controls %}
    <!-- Controls -->
    <a class="carousel-control-prev" href="#{{ attributes.id }}"
       role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">{{ 'Previous'|t }}</span>
    </a>
    <a class="carousel-control-next" href="#{{ attributes.id }}"
       role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">{{ 'Next'|t }}</span>
    </a>
  {% endif %}
</div>